:root {
    --left-margin: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

input {
    height: 1em;
    font-size: 1em;
    border-style: solid;
    border-color: lightgray;
    border-radius: 4px;
}

input:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border-color: lightskyblue;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.sidebar {
    flex: 1;
    flex-shrink: 0;
    position: relative;
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.overlay-div {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
}

.main-content {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;

    > * {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top {
        padding-right: 10%;
        margin-left: var(--left-margin);
    }

    .form-inputs {
        display: flex;
        flex-direction: row;
        gap: 40px;
        flex-wrap: wrap;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        padding: 40px 0px 40px 40px;

        .label-input-set {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: start;

            label {
                align-self: flex-start;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.8em;
                color: gray;
                letter-spacing: 2px;
            }

            
        }
    }

    [type='submit'] {
        align-self: flex-start;
        background-color: olivedrab;
        color: white;
        margin-left: var(--left-margin);
        padding: 10px 40px 10px 40px;
        border-radius: 6px;
        border-style: none;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 20px;
    }

    >:last-child {
        justify-content: start;
        margin-left: var(--left-margin);
    }
}

