:root {
    --left-margin: 40px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

label {
    text-transform: uppercase;
}

.sidebar {
    flex: 1;
    flex-shrink: 0;
    position: relative;
    display: flex;
    border-style: solid;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.overlay-div {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
}

.main-content {
    flex: 1.5;
    display: flex;
    flex-direction: column;

    > * {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top {
        padding-left: 5%;
        padding-right: 10%;
    }

    .form-inputs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .label-input-set {
            margin: var(--left-margin);
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: start;

            label {
                align-self: flex-start;
            }

            input {
                height: 1.5em;
                font-size: 1.5em;
            }
        }
    }

    [type='submit'] {
        align-self: flex-start;
        margin-left: var(--left-margin);
    }

    div:last-child {
        margin-left: var(--left-margin);
    }
}

